*{
    margin: 0;
    padding: 0;
}

.customNav {
    position: fixed;
    width: 100%;
    background-color: #81F1F7 !important;
    background-size: cover;
    z-index: 10;
  }

  .navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
  }

  .nav-link {
      color: #C48D3F !important;
  }

  .active {
      text-decoration: underline;
  }

  .active:hover {
      text-decoration: underline;
  }

  .carousel-caption {
      font-family: Arial, Helvetica, sans-serif;
      background: rgba(0, 0, 0, 0.5);
      background-size: 100px;
      width: 40%;
      margin-left: auto;
      margin-right: auto;
  }

  .row {
      margin-top: 50px;
      justify-items: center;
      justify-content: center;
  }

 