*{
    margin: 0;
    padding: 0;
}

.customNav {
    position: fixed;
    width: 100%;
    background-color: #81F1F7 !important;
    background-size: cover;
    z-index: 10;
  }

  .navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
  }

  .nav-link {
      color: #C48D3F !important;
  }

  .active {
      text-decoration: underline;
  }

  .active:hover {
      text-decoration: underline;
  }

  footer {
    position: absolute;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #81F1F7;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .text-muted {
      color: #C48D3F !important;
  }

  .Residents {
    padding-top: 100px;
}

.jumbotron {
    background-color: #FFF563;
}

.row {
  margin-top: 50px;
  justify-items: center;
  justify-content: center;
}